@page "/"
@using BlazorStrap;
@using BlazorStrap.V5
@using Microsoft.AspNetCore.Components.Authorization

<BSContainer>

    <BSRow RowColumns="2">

        <AuthorizeView>
            <NotAuthorized>
                <BSCol Column="5">

                    <div>
                        <LaboratorioBlazorUI.Pages.Autenticacion.LoginComponent/>
                    </div>

                </BSCol>
            </NotAuthorized>
        </AuthorizeView>

    </BSRow>

    <AuthorizeView>

        <div class="text-center">
            <h1 class="display-4" style="text-shadow: #000 1px 0 10px;">Bienvenido</h1>
        </div>
    </AuthorizeView>
</BSContainer>


@code {

}
