@page "/resultadoSubida"


@using BlazorStrap
@using BlazorStrap.V5
@using Radzen
@using Radzen.Blazor


<h3>CargaResultados</h3>



<div>
    <InputFile multiple OnChange="OnChange"/>
</div>

<div>
    @foreach (var item in archivosBase64)
    {
     <img src="@item"/>   
    }
</div>

<RadzenStack AlignItems="AlignItems.Start" Class="rz-mx-auto rz-my-12">
    <RadzenImage Path="https://pdf-temp-files.s3.us-west-2.amazonaws.com/HZWR20YFVFZSR4UBBXYVTZX40R7CHDR8/file.jpg?X-Amz-Expires=3600&X-Amz-Security-Token=FwoGZXIvYXdzEKv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDHV%2BAOuDk4iv4g3j%2FiKCAc51RYommnwgVk4mZTYeI%2BUJSvF18sHhfs9QrvhhEBZSy2rIlWup9ZZfAU%2FVLlZcLRqHCv0G1MIaBnI0bn0zavT8UYuNcI9aimFILp9rR8%2FdXvXTNhS3as87ojoaMZEG67HTLUvRbehP0IsK5cVSHzovB2ZOnAzE0Byiyp2O%2FLZ7Vboor83VrwYyKJU3oleOHR9vpPIauPB71edT4djRJJjhpunzhmH39SwVZvvh4g7k0Es%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NRRSZPHADQJGXHY/20240316/us-west-2/s3/aws4_request&X-Amz-Date=20240316T125633Z&X-Amz-SignedHeaders=host&X-Amz-Signature=1287f57ad8dd5e04b71aef03fed35e43d9e854dbb3256f46ed0970296aa1ab61" Style="width: 15rem;" AlternateText="community" />

    <RadzenImage Path="https://pdf-temp-files.s3.us-west-2.amazonaws.com/HZWR20YFVFZSR4UBBXYVTZX40R7CHDR8/file.jpg?X-Amz-Expires=3600&X-Amz-Security-Token=FwoGZXIvYXdzEKv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDHV%2BAOuDk4iv4g3j%2FiKCAc51RYommnwgVk4mZTYeI%2BUJSvF18sHhfs9QrvhhEBZSy2rIlWup9ZZfAU%2FVLlZcLRqHCv0G1MIaBnI0bn0zavT8UYuNcI9aimFILp9rR8%2FdXvXTNhS3as87ojoaMZEG67HTLUvRbehP0IsK5cVSHzovB2ZOnAzE0Byiyp2O%2FLZ7Vboor83VrwYyKJU3oleOHR9vpPIauPB71edT4djRJJjhpunzhmH39SwVZvvh4g7k0Es%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NRRSZPHADQJGXHY/20240316/us-west-2/s3/aws4_request&X-Amz-Date=20240316T125633Z&X-Amz-SignedHeaders=host&X-Amz-Signature=1287f57ad8dd5e04b71aef03fed35e43d9e854dbb3256f46ed0970296aa1ab61" Style="width: 15rem;" AlternateText="community" />
</RadzenStack>


<!--<iframe src="https://pub-bb695d5f0667442a887cb27931ea5d88.r2.dev/coprologico%20con%20imagen%20(1).pdf" style="width: 800px; height:  600px;" frameborder="0"></iframe>-->


@code {
    private const int tamañoMaximoArchivo = 2 * 1024 * 1027;
    private List<string> archivosBase64 = new List<string>();


    async Task OnChange(InputFileChangeEventArgs e)
    {

      foreach (var item in e.GetMultipleFiles())
              {
                  using var stream = item.OpenReadStream(tamañoMaximoArchivo);
                  using var ms = new MemoryStream();
                  await stream.CopyToAsync(ms);

              }

    
     
    }




}
